<div id="articles">
	<h1>Japan Expo 2014 : c'est terminé !</h1>

	<div>
		<h2>5 jours entiers de démonstrations et initiations</h2>
		<p>Pour la 9e année consécutive, <b>avec le soutien moral et technique de Maître Aosaka Sensei</b>, l'association Shorinji Kempo Club Neuilly, localisée à Neuilly-sur-Seine, <b>a participé activement au festival Japan Expo</b> qui s'est tenu en région parisienne, au parc des expositions de Villepinte du 2 au 6 juillet.<br/>
			Ces cinq jours de gyo, de démonstrations (ten shi ken, embu) et d'initiations ont constitué autant d'occasions de s'entraîner et de collaborer entre Kenshi du Shorinji Kempo, que d'opportunités de <b>faire découvrir notre art martial à un public ouvert</b>, large, qui fut le plus souvent très enthousiaste.<br/>
		Présents de 9 h du matin à 19 h durant l'ensemble du festival, les membres de l'association ont pu confronter leurs connaissances en <a href="http://shorinjikempo-neuillyclub.com/techniques.html">Juho</a> et en <a href="http://shorinjikempo-neuillyclub.com/techniques.html">Goho</a> à des non-pratiquants aussi curieux qu'enjoués de voir et d'en apprendre les mécanismes. 
		Nous avons aussi eu l'honneur de recevoir quelques visiteurs japonais, parfois eux-mêmes pratiquants du Shorinji Kempo.<br/>
		Nous ne doutons pas que chacun, Kenshi comme profane, en ait tiré les bénéfices. 
		Dans la tâche qui a été la nôtre, nous avons reçu l'assistance de différents Sempai et Kenshi français, notamment de Paris Shibu. <b>Nous les en remercions</b>.<br/>
		Cette année aura été fructueuse, car nous avons gagné tant en pratique qu'en humilité en collaborant et en nous ouvrant au forum que représente Japan expo. 
		Fructueuse, cette année aura aussi été, car de nombreuses personnes s'étant essayées au Shorinji Kempo ont manifesté l'envie de le pratiquer dès septembre prochain, ne démentant pas l'intérêt que suscite notre art martial, fondé par So Doshin et développé en France par Maître Aosaka Sensei il y a plus de 40 ans.</p>
			<p>L'association au complet avec un invité Japonais</p>
		<%= image_tag("JapanExpo01.jpg", :alt => "kaiso", :class => "japanarticle") %>
		<p>L'association au complet avec trois invités du club Paris Shibu : de gauche à droite, Gabriel, Daniel et Bernard</p>
		<%= image_tag("JapanExpo11.jpg", :alt => "kaiso", :class => "japanarticle") %>
	</div>



	<h1>Japan Expo 2014 : 15th Impact</h1>
	<%= image_tag("jeart.PNG", :alt => "logo japan expo", :id => "jeart") %>
	<div id="formattxt">
		<h2 id="h2">Du 2 au 6 Juillet 2014</h2>
		<p>Cette année encore, l'association, représentera le Shorinji Kempo à la <a href="http://www.japan-expo.com/fr/">Japan Expo</a>, au parc des expositions, Paris-Nord Villepinte.<br/>
		Au programme : démonstrations de groupe, combats chorégraphiés (Embu), apprentissage de techniques Juho et Goho... Entre ces créneaux, venez discuter avec nous de l'histoire, la philosophie et la pratique du Shorinji Kempo; venez essayer quelques techniques avec les kenshis présents !<br/>
		<strong>Venez nombreux regarder les démonstrations et monter sur le tatami durant les séances d'initiation !</strong></p>

	</div>




	<h1>Stage national de Shorinji Kempo : EmbuKai</h1>
	<h2>Le 11 Mars 2014 au Gymnase Léo Lagrange (Paris 12e)</h2>
	<p>L'association était présente au troisième stage national de Shorinji Kempo de la saison, tenu sous la direction de Aosaka Senseï, au Gymnase Léo Lagrange à Paris dans le 12ème arrondissement.<br/>

Celui-ci a regroupé près de 150 Kenshi de toute la France ainsi que Monaco. Des Kenshi Belges emmenés par Philippe Chazerand ainsi que des Suédois de Stockholm emmenés par Alexander Tilly, ont également fait le déplacement pour pouvoir participer à cet événement qui s’étalait sur une journée et demie, et ainsi profiter de l’enseignement de Aosaka Senseï.<br/>

La coupe de France 2014 de Shorinji Kempo s’est déroulée le samedi après-midi. 29 Embu étaient en compétition pour cette rencontre nationale annuelle.<br/>

Le dimanche-matin, près de 100 courageux étaient encore présents. Aosaka Senseï nous a encore un fois gratifié d’un enseignement très riche et très dense tant technique que philosophique.<br/><br/>

Article par <a href="http://shorinjikempo.fr/2014/03/11/compte-rendu-du-embukai-2014/">Kristen Regardin / Frédéric Juhel</a></p>





	<h1>Stage national de Shorinji Kempo</h1>
	<h2>Le 7 Décembre 2013 au Chesnay</h2>
	<p>S’est déroulé au Chesnay (78) le second stage national de la saison sous la direction de Aosaka Senseï.<br>
	Plus de 130 pratiquants y ont répondu présent, dont un représentant suédois (Alex Tilly) et un représentant belge (Philippe Chazerand).<br>
	Un mois après le stage Côtes Ouest de Nantes, les différents clubs ont pu se retrouver et prendre plaisir à échanger et recevoir l’enseignement de Aosaka Senseï : Harai Uke Geri, Hiki Otoshi et Maki Gote.<br>
	L’après-midi, le stage à redémarré par un travail de techniques par atelier de niveau (Kyukenshi ; 1,2 et 3ème Dan ; 4ème Dan et plus) durant 1h30, où Aosaka Senseï est intervenu dans chaque groupe pour expliciter des techniques.<br>
	La suite fut un exercice de construction de Embu préparé en quelques minutes. Aosaka Senseï nous expliqua comment Kaiso enseignait la pratique du Embu.
	Il continua par l’enseignement du Randori à deux puis à trois. La journée se termina par la philosophie de Senseï , « Jin Gi Chu Ko Rei Haji », avec un accent particulier mis sur Jin et Ko.<br>
	Un second stage annonçant les fêtes de fin d’année et nous amenant à de futurs rassemblements, l’assemblée générale pour les professeurs le 18 janvier, puis les 8 et 9 mars pour le Embukaï National ainsi que le 14 Juin pour le dernier stage de la saison.<br>
	A tous un joyeux noël et de joyeuses fêtes.<br><br/>
	Article par <a href="http://shorinjikempo.fr/2013/12/09/stage-au-chesnay-le-week-end-dernier/">Kristen Regardin / Frédéric Juhel</a></p>


	<h1>Japan Expo 2012</h1>
	<p>Comme chaque année, l'association participe à la	<a href="http://www.japan-expo.com/fr/contenu/shorinji-kenpo_1128.htm"> Japan Expo</a> à Paris. Durant 5 jours, elle y effectue des démonstrations, mais surtout permet aux volontaires de venir essayer directement sur le tatami. Le Shorinji Kempo étant un art martial accessible, tout le monde, les petits comme les grands, ont pu venir s'initier.

	<h1>Décès de la veuve du fondateur</h1>
	<p>Nous avons le regret d'annoncer le décès de Mme SO DOSHIN, veuve du fondateur du Shorinji Kempo et mère de la présidente de la WSKO. Elle nous a quitté le 08 avril 2013.<br>
	Tous les Kenshis de l'association SHORINJI KEMPO CLUB NEUILLY témoignent leurs condoléances à leur présidente, Mme SO Yuki, ainsi qu'à leur maître, Sensei AOSAKA.</p>
</div>