		<div id="blocsa">
			<div id="bloc1a">
				<h1>Présentation</h1>
				<h2>Qui sommes-nous</h2>
				<img src="images/img_bloc1.jpg" alt="kaiso" id="img_bloc1"/>
				<div id="fleche1">
				<a href="presentation.html"></a>
				</div>
			</div>
			<div id="bloc2a">
				<h1>Activités</h1>
				<h2>Manifestations de l'association</h2>
				<img src="images/img_bloc2.jpg" alt="kaiso" id="img_bloc2"/>
				<div id="fleche2">
				<a href="activites.html"></a>
				</div>
			</div>
		</div>