			<div id="mainactivites">
			<p>Les principales activités proposées par l'association sont les suivantes:<br>
				- Le GYO : entrainement mental et physique<br>
				- Stages nationaux<br>
				- Démonstrations (salons, évènements)
			</p>
				<h1>Manifestations</h1>
				<h2>Japan Expo 2012</h2>
					<video width="200px" height="200px" controls src="http://www.youtube.com/watch?v=nWltV5B3UDA">JE2012</video>
					<iframe width="420" height="345" src="http://www.youtube.com/watch?v=fuOARKeiLc0"></iframe>
					<iframe width="854" height="510" src="http://www.youtube.com/watch?v=55sbscCLih4" frameborder="0" allowfullscreen></iframe>
				<h2>Japan Expo 2011</h2>
				<h2>Japan Expo 2010</h2>
				<h2>Japan Expo 2008</h2>
				<h2>Japan Expo 2007</h2>
				<a href="association.html" id="retour">Retour<a/>
			</div>