		<div id="mainpresentation">
				<h1>Présentation</h1>
				<p>Fondée en juin 2006, l’association a été créée afin de partager l’enseignement reçu du Senseï AOSAKA, qui importa le SHORINJI KEMPO en France et le développa dans toute l'Europe.</p>
				<p>Comme tout art martial tirant son essence du BUDO, les techniques enseignées ont pour vocation d'arrêter toute forme de violence.</p>
				<p>Les kenshis membres de l’association recevront donc un enseignement physique et philosophique selon le KONGO ZEN. Les principaux objectifs de cet enseignement sont :<br>
					 <div style="text-indent: 15px;">- Avoir confiance en soi ;</div>
					 <div style="text-indent: 15px;">- Créer des liens de camaraderie avec les autres ;</div>
					 <div style="text-indent: 15px;">- Etre capable de protéger les plus faibles.</div></br>
				<div id="asso1"><%= image_tag("asso1.jpg", :alt => "asso club Neuilly", :id => "asso1img") %></div>
				<div id="conseiladmin">
					<h1>Conseil d'administration</h1>
					<p><b>KITOKO Sébastien</b> : Président<br>
					<b>ZITOUNI Jordy</b> : Délégué à la sécurité et à la communication<br>
					<b>OGOUBIYI Charles</b> : Trésorier, Secrétaire Général Adjoint<br>
					<b>MARAJO Thierry</b> : Secrétaire Général<br>
					<b>LEBIGRE Rémi</b> : Responsable communication</p>
				</div>
				<a href="association.html" id="retour">Retour</a>
		</div>
		