		<div id="homebody">
			<div id="homeimg">
				<%= image_tag("accueil.jpg", :alt => "Kitoko Senpai en présence d'un Senpai Japonais", :id => "homekitoko") %>
						<br/>	
		<H1>Bienvenue sur le site de l'association Club Neuilly de Shorinji Kempo</h1>
			</div>

		</div>	


		<div id="bandeau">	

			<div id="bandeau_description1">
				Article
				<a href="articles.html"></a>
			</div>
			<h1>L'association participera à<br/> la Japan Expo 2014 !</h1>
		</div>

