
		<div id="homebody">

			<div id="homekitokowrap"></div>
			<div id="hometxtwrap">
				<h1>Bienvenue sur le site de l'association Club Neuilly de Shorinji Kempo</h1>
				<h2>Association à but non lucratif promouvant <br/>l'enseignement du Shorinji Kempo</h2>
				<p>Nous sommes heureux de vous accueillir sur le site de l'association. Il vous permettra de découvrir le Shorinji Kempo, discipline martiale qui propose un art de combat de self-défense, et l’élévation spirituelle personnelle.</p><p>Bonne navigation.</p>
			</div>

		</div>	


		<div id="bandeau">	
			<%= image_tag("je.png", :alt => "logo japan expo", :id => "homeje") %>
			<h1>L'association participera à la <strong>Japan Expo 2014</strong> !</h1>
			<p>Cette année encore, l'association, représentera le Shorinji Kempo à la Japan Expo, au parc des expositions, Paris-Nord Villepinte.</p>
			<p>Venez nombreux regarder les démonstrations et monter sur le tatami durant les séances d'initiation !</p>
			<div id="bandeau_description1">
				Article
				<a href="articles.html"></a>
			</div>

		</div>
