		<div id="gallerie">
			<div id="galleria">
				<img src="images/img1.jpg">
				<img src="images/img2.jpg">
				<img src="images/img3.jpg">
				<img src="images/img4.jpg">
				<img src="images/img5.jpg">
				<img src="images/img6.jpg">
				<img src="images/img7.jpg">
			</div>
			<script>
				Galleria.loadTheme('galleria/themes/classic/galleria.classic.min.js');
				Galleria.run('#galleria');
			</script>
		</div>