		<div id="blocs">
			
			<div id="bloc1">
				<h1>Historique</h1>
				<h2>Les origines du Shorinji Kempo depuis sa création par So Doshin.</h2>
				<img src="images/img_bloc1.jpg" alt="kaiso" id="img_bloc1"/>
				<%= image_tag("img_bloc1.jpg", :alt => "kaiso", :id => "img_bloc1") %>
				<a href="historique.html"></a>
			</div>
			<div id="bloc2">
				<h1>Caractéristiques</h1>
				<h2>Quelles sont les caractéristiques de cette discipline ?</h2>
				<%= image_tag("img_bloc2.jpg", :alt => "kaiso", :id => "img_bloc2") %>
				<a href="caracteristiques.html"></a>
			</div>
			<div id="bloc3">
				<h1>Techniques</h1>
				<h2>Présentation des différentes catégories de techniques qui composent le Shorinji Kempo</h2>
				<%= image_tag("img_bloc3.jpg", :alt => "kaiso", :id => "img_bloc3") %>
				<a href="techniques.html"></a>
			</div>
			<div id="bloc4">
				<h1>Philosophie</h1>
				<h2>D'où est tirée la philosophie du Shorinji Kempo ? quels sont ses principes ?</h2>
				<%= image_tag("gassho.gif", :alt => "kaiso", :id => "img_bloc4") %>
				<a href="philosophie.html"></a>
			</div>	

		</div>