				<div id="mainhistorique">

					<h1>La création du Shorinji Kempo</h1>
					<h2>Kaiso So Doshin</h2>
					<%= image_tag("sodoshin.png", :alt => 'Kaiso', id:'sk1img1') %>
					<p>	
						Après un long périple de 17 ans en Chine, So Doshin, de retour au Japon en 1947, crée le shorinji Kempo actuel, dont le but n’est pas simplement de se défendre, mais également de trouver un équilibre physique et mental.<br>

						Kaiso (So Doshin) reprit personnellement la tradition du « Shorinji Ihermen-Thuen » pour créer le Shorinji Kempo. Pendant près de 20 ans passés en Chine, il étudia plusieurs styles de kempo. Il fut principalement le disciple d’un prêtre taoïste nommé Chin Ryo. Ce dernier était membre de la société secrète Zaijari et maître de la Byakurenmonken (Bai Lian Men Quan), branche du Kempo originaire de Shorinji (Shaolin). Plus tard, en 1932, il rencontre à Pékin le vingtième successeur (Wen Tai Tsung, Wen Lao-Chö ou Wen Lanshi selon les différentes traductions) de l’école de Kempo  » North Shorinji Giwamonken  » (Bei Shaolin Yi He Quan) dont il devint le disciple direct pendant quatre ans. En 1936, au cours d’une cérémonie initiatique (au temple de Shaolin?), le maître chinois fait de Doshin So son successeur officiel…<br>

						Maître Doshin So disait : – « Le ken (chuan) que j’ai étudié en tant que discipline bouddhiste en Chine (une méthode que l’on dit venue de l’Inde et transmise par Daruma) est connue comme appartenant à l’Arahan Chuan (Arahan No Ken) de l’école Yiehemen (ou Ihermen) de Shaolin du nord. Il est fondamentalement différent des autres arts martiaux et ne recherche pas la maîtrise ou la défaite de l’adversaire. Il s’agit plutôt d’une discipline qui vise le développement mutuel tout en triomphant de soi, établissant la symbiose entre le corps et l’esprit tout en permettant d’apprécier les techniques ». C’est une méthode qui permet de coordonner et d’atteindre trois bénéfices :<br>

						    - L’auto-défense et une meilleure confiance en soi.<br>
						   -  Le développement spirituel.<br>
						   -  L’amélioration de la santé.<br>
<%= image_tag("img1.png", :alt => 'Aosaka Sensei',height: '400', id:'sk1img2') %>
						De retour au Japon, So Doshin pratique différentes disciplines et entre autre le Ju-Jutsu de l’école Hakko (Hakko ryu Ju-Jusfsu) de maître Okuyama. Pour l’anectode, il est amusant de noter que plusieurs anciennes écoles japonaises de Ju-Jutsu eurent comme fondateurs historiques des maîtres chinois, experts en Kempo, réfugiés au Japon. Avec toutes ses connaissances « martiales » So Doshin créa notre discipline, le Shorinji-Kempo. Mais il faut bien comprendre que « l’art » de So Doshin n’est pas une somme de formes appauvries de Kempo Chinois, mais plutôt une fusion et un ensemble de tous les kempo qu’il a observé et étudié pendant ses voyages en Chine. Mais surtout, c’est un Kempo enrichi par l’adjonction d’une philosophie qu’il appela, comme vous le savez «Kongo Zen ».
					</p>
					

					<h1>Le Shorinji Kempo en France</h1>
					<h2>Sensei Aosaka</h2>
					
					<p>
						En 1972, un jeune maître Japonais, AOSAKA Senseï arrive en France et fait découvrir l’art martial Shorinji Kempo, dans les dojos de la région Parisienne.<br>

						Depuis, la Fédération Française de Shorinji Kempo a été créée, détient un agrément ministériel 75S173 et regroupe aujourd’hui plus de 6000 adhérents.
					</p>
					
				<a href="shorinjikempo.html" id="retour">Retour<a/>
				</div>