				<div id="maincaracteristiques">

					<h1>Self-Défense</h1>
					<p>Le SHORINJI-KEMPO se présente sur le plan physique comme une méthode de self-défense éminemment efficace.</p>

					<h1>Goho et Juho</h1>
					<p>Dans toutes les positions et répondant à toutes les formes d'attaque possibles, le SHORINJI-KEMPO dont l'enseignement comporte plus de 600 techniques permet de faire face à n'importe quelle situation agressive, ce qui, dans le monde difficile de notre époque, permet de garder en toute occasion son calme et son assurance.</p>

					<h1>L'entraînement du corps et de l'esprit</h1>
					 <p>Le SHORINJI-KEMPO a su garder ce double aspect mental et physique, c'est d'ailleurs ce qui apparaît à tout néophyte se lançant dans l'étude du SHORINJI-KEMPO.<br>
					 Enfin, une réflexion sur les aspects philosophiques du SHORINJI-KEMPO est systématiquement engagée pour comprendre les liens qui doivent nous unir à notre environnement et le rôle positif que nous devons jouer dans la société: " La force et l'esprit sont indissociables "</p>
				<a href="shorinjikempo.html" id="retour">Retour<a/>
				</div>