				<div id="maintechniques">

					<h1>Techniques</h1>
					<p>
					Le SHORINJI-KEMPO s'appuie sur l'utilisation des moyens naturels: percussions, pressions, déséquilibres, projections,etc., et sur une bonne connaissance des points faibles du corps humain ce qui permet de ne pas faire appel à la force et d'être ainsi accessible au plus grand nombre quelque soit l'âge ou la morphologie.<br>
					Le SHORINJI-KEMPO incite naturellement au respect mutuel, à la compréhension et au développement humain. Il s'agit avant tout de créer un lien particulier avec son partenaire d'entraînement.</p>

					<h1> Les Trois grandes familles</h1>

					<h2>GOHO</h2>
					<p>Technique faisant appel aux coups de pieds et de poings pour se défendre d'une attaque à mi-distance.</p>


					<h2>JUHO</h2>
					<p>Ensemble des techniques utilisant les pressions et/ ou les torsions sur des points douloureux, pour se dégager, contrôler ou projeter l'adversaire.</p>


					<h2>SEIHO</h2>
					<p>Pression et massage de certains points du corps pour la remise en condition physique.</p>
				<a href="shorinjikempo.html" id="retour">Retour<a/>
				</div>