	<div id="maintechniques">

		<h1>Techniques</h1>
		<p>
			Le SHORINJI-KEMPO s'appuie sur l'utilisation des moyens naturels: percussions, pressions, déséquilibres, projections,etc., et sur une bonne connaissance des points faibles du corps humain ce qui permet de ne pas faire appel à la force et d'être ainsi accessible au plus grand nombre quelque soit l'âge ou la morphologie.<br>
			Le SHORINJI-KEMPO incite naturellement au respect mutuel, à la compréhension et au développement humain. Il s'agit avant tout de créer un lien particulier avec son partenaire d'entraînement.
		</p>

		<div id="blocs">
			<div id="bloc1">
				<h1>GOHO</h1>
				<h2>Technique faisant appel aux coups de pieds et de poings pour se défendre d'une attaque à mi-distance.</h2>
				<img src="images/img_bloc1.jpg" alt="kaiso" id="img_bloc1"/>
				<%= image_tag("moines.jpg", :alt => "kaiso", :id => "img_bloc1") %>
			</div>
			<div id="bloc2">
				<h1>JUHO</h1>
				<h2>Ensemble des techniques utilisant les pressions et/ ou les torsions sur des points douloureux, pour se dégager, contrôler ou projeter l'adversaire.</h2>
				<%= image_tag("moines2.jpg", :alt => "kaiso", :id => "img_bloc2") %>
			</div>
			<div id="bloc3">
				<h1>SEIHO</h1>
				<h2>Pression et massage de certains points du corps pour la remise en condition physique.</h2>
				<%= image_tag("moines3.jpg", :alt => "kaiso", :id => "img_bloc3") %>
			</div>	
		</div>
				<a href="shorinjikempo.html" id="retour">Retour<a/>
	</div>