<div id="philo">
<h1>Philosophie</h1>
<p>La philosophie enseignée dans le shōrinji kenpō provient du Kongo Zen, le Zen du diamant (on utilise cette image du diamant car il a cette qualité d'être éclatant et indestructible). Elle favorise le développement de l'individu et affirme que chacun ne doit puiser sa force physique et sa force mentale/spirituelle qu'en lui-même. Les techniques martiales pratiquées dans le shōrinji kenpō peuvent être dangereuses, voir mortelles. Le kenshi doit donc se maîtriser pour maîtriser les techniques qui lui sont enseignées, et c'est pour cette raison que le shōrinji kenpō fait référence à des préceptes Bouddhistes. Il y a six principes de base :</p>

    <p><b>Ken zen ichi nyo (拳褝一如?) </b>: entraînement conjoint du corps et de l'esprit (unité de la technique et de la philosophie) ;<br>
    <b>Riki ai funi (力愛不二?)</b> : harmonie indissociable de la force et de la compassion ;<br>
    <b>Shushu kōju (守主攻従 ?)</b>: priorité de la défense sur l'attaque ;<br>
    <b>Fusatsu katsujin (不殺活人?)</b> : aider et construire au lieu de détruire ;<br>
   <b> Gōjū ittai (剛柔一体?)</b> : unité du Goho et du Juho, c’est-à-dire parité des techniques dures et souples ;<br>
    <b>Kumite shutai (組手主体?)</b> : la nécessité de s'entraîner à deux afin de s'améliorer.</p>

<p>Pendant l'entraînement, les professeurs insistent sur le fait que le but du Shorinji Kempo n'est pas de créer des "guerriers", mais de former des individus capables de comprendre et d'aider les autres.<br>

Pour que le shōrinji kenpō ne soit pas qu'un simple ensemble de techniques de combat, l'enseignement philosophique est indispensable.<br>

Ken zen ichi nyo est la synthèse de cette philosophie. C'est le point central du Kongo Zen, et chacun des préceptes suivants en représente un aspect :<br>

Riki ai funi est l'aspect philosophique et Shushu kōju son aspect pratique, Fusatsu katsujin en est l'aspect social, Gōjū ittai représente la nature des techniques et Kumite shutai est sa mise en application pendant l'entraînement.</p>

<p>Le kenshi se doit donc de connaître ces préceptes, et aussi de mettre en pratique ces cinq principes de base :<br>

   <b> L'étiquette</b> : c'est l'image que le kenshi donne de lui-même. En tant que pratiquant de shōrinji kenpō, il représente son art et se doit donc de montrer une image positive de sa discipline et de lui-même, un « esprit sain dans un corps sain » en quelque sorte.<br>
   <b> L'attitude</b> : si l'image que reflète un kenshi est positive, son comportement et ses actes doivent l'être aussi. Aussi le kenshi doit se montrer respectueux, aussi bien envers ses enseignants et ses partenaires dans le budo qu'il étudie, qu'avec les gens hors du shōrinji kenpō dans la vie de tous les jours. Il doit avoir une attitude positive dans ses relations et dans tout ce qu'il entreprend, en accord avec les enseignements du Bouddha.<br>
   <b> Gassho Rei</b> : lorsqu'un pratiquant du kenpō entre dans un dojo, la première chose qu'il fait est de saluer le Manji ou l'emblème Ken (l'emblème utilisé en Occident), et de même lorsqu'il quitte le lieu d'entraînement. Il fait aussi Gassho Rei durant l'entraînement : à son partenaire avant (Onegaishimasu : s'il vous plait) et après (Arigatou gozaïmashita : merci beaucoup) l'étude d'une technique ou un Randori, à son professeur pour le remercier d'avoir expliqué une technique et de lui enseigner son savoir. Gassho Rei est une marque de respect profond qui ne doit pas être fait avec dédain ; les kenshi se saluent en se regardant dans les yeux avec humilité.<br>
   <b> Kyakka Shoko </b>: le respect du lieu d'entraînement (le dojo), et de tout autre lieu en général, qui se caractérise par le retrait des chaussures (et des chaussettes) pour ne pas salir, un dogi propre et un rangement soigné des affaires personnelles, reflétant une personne ordonnée. Habituellement, on traduit cette maxime par « Examine la surface du sol devant tes pieds ». L'idée est de s'attacher à réaliser les choses qui sont à notre portée et que nous pouvons faire, et notamment les choses très simples comme de bien ranger son sac quand on est obligé de le ramener dans la salle d'entraînement, et de bien placer ses zōri (sandales japonaises) en montant sur le tatami. Ne pas se disperser, et faire ce qui est de notre responsabilité, c'est Kyakka Shoko.<br>
    <b>Samu </b>: l'entretien du lieu d'entraînement. Les kenshi s'activent pour nettoyer le dojo avant et après l'entraînement, de façon à ce que le lieu reste aussi propre qu'avant leur passage, et pour s'excuser d'une quelconque gêne occasionnée par leur présence. De cette manière ils font preuve d'humilité et de discrétion, mais aussi d'altruisme.
   </p>

<h1>Chinkon</h1>
<p>Composé de trois parties que chaque kenshi se doit d'apprendre</p>
<div id="chinkon">
<h2>Maximes</h2>


<p>La sérénité est à la portée de chacun.<br>
Bannir le mal et rechercher le bien permet de purifier son cœur ; tel est l’enseignement de chaque Bouddha.<br><br>

Chaque individu est son propre maître.<br>
Il ne doit puiser sa force qu’en lui-même.<br>
Le développement harmonieux du corps et de l’esprit permet d’atteindre la maîtrise de soi.<br><br>

Les mauvaises actions rejaillissent sur celui qui les commet.<br><br>
Ne pas commettre le mal permet d’être pur ;<br>
Notre pureté est à la mesure de nos actes.<br><br>

Nous sommes les maçons de notre bonheur.<br>
</p>


<h2>Serment</h2>

<p>
Nous, pratiquants du Shorinji Kempo :<br>
Nous ne trompons pas le maître<br>
Nous respectons les aînés<br>
Nous ne méprisons pas les jeunes<br><br>

Nous tentons d’accéder à la voie du juste milieu<br>
En cherchant à mieux nous connaître<br>
En nous aidant les uns les autres<br>
En collaborant entre kenshi du Shorinji<br><br>

Nous oublions notre passé pour nous adonner à l’art du Shorinji Kempo avec un esprit aussi simple et naïf qu’un enfant.<br><br>

Le but ultime du Shorinji Kempo est l’accomplissement et le bonheur de l’homme, et non la gloire ou le profit personnel.
</p>


<h2>Principes</h2>

<p>
Notre esprit nous vient du Dharma ; nous avons reçu notre corps de nos parents : témoignons-leur notre gratitude.<br><br>

Nous aimons l’humanité, et nous essayons d’améliorer ses conditions de vie.<br>

Nous sommes résolus à nous comporter en êtres braves, justes, humains, courtois et pacifiques.<br>

En pratiquant le Shorinji Kempo, nous cultivons notre corps et notre esprit ; nous oeuvrons pour construire un monde meilleur, sans nous écarter de notre chemin, en cherchant à mieux nous connaître, en nous entraidant, en nous faisant des concessions et en collaborant entre kenshi du Shorinji.<br>

Vivons moitié pour nous-mêmes, moitié pour les autres.
</p>
</div>
<a href="shorinjikempo.html" id="retour">Retour<a/>

</div>