@font-face
{
    font-family: 'jap2';
    src: url('/fonts/jap2.otf');
}

body
{
font-family: helvetica, verdana, sans-serif;
color: rgba(55,55,55,1);
}

.container
{
width: 900px;
margin: auto;
}

header h1, footer h1, nav a, #soussection
{
text-transform: uppercase;
}

header
{
  display: inline-block;
  width: 900px;
  padding-bottom: 20px;
  background: url('/assets/ligne.jpg') repeat-x bottom;
  font-family: 'jap2';
  font-size: 1.8em;
  margin-bottom:20px;

  
}

#logo
{
margin-left:0px;
margin-top: 30px;
}

header h1
{
display: inline-block;
vertical-align: top;
margin-top: 70px;
margin-left: 3px;
}

header .titre
{
  text-decoration: none;
  color: rgba(55,55,55,1);
}

nav
{

  margin:-10px;
    margin-top:10px;
    margin-left: 3px;
  display: inherit;
  font-size: 1.09em;

}

#homelogo
{
  position:relative;
  float:right;
  top:50px;
  right:30px;
}

#homeaosaka
{
  position:relative;
float:left;
max-height: 250px;
left:-8px;
top:3px;
}
























/*HOME*/
#homebody
{
    display:inline-block;
  padding-left:75px;
  padding-top:30px;
   width:50%;
}

#homebody h1
{
  font-family: 'jap2';
  text-align: center;
  font-size: 2em;
}

}
#homeimg
{
 left:0px;

}
#homekitoko
{
display: block;
width:100%;
}


#bandeau
{
 display:inline-block;
vertical-align: top;
width: 25%;
height: 333px;
margin-left:60px;
background: url('/assets/JE1.jpeg');
background-size:240%;
background-repeat: no-repeat;
background-position:-150px 43px;
/*background-size: contain;*/
}


#bandeau_description1
{
position: relative;
top:160px;
left:104px;
border-radius: 0px 0px 5px 5px;
width:25%;
height: 30px;
padding: 15px;
padding-right:50px;
background-color: rgba(24,24,24,0.8);
color: white;
font-size: 1.5em;
font-family: 'jap2';
text-align: center;
}

#bandeau a
{
display: inline-block;
position:absolute;
right:25px;
top: 15px;
width: 29px;
height: 35px;
background: url('/assets/fleche_sprite.png') 0px 0px no-repeat;
}

#bandeau a:hover
{
  background-position: 0px -35px;
}
#bandeau h1
{
  position:relative;
  font-family: 'jap2';
  text-align: center;
  font-size: 2em;
  bottom:-288px;
}
section #soussection
{
padding-bottom: 1px;
padding-top: 40px;
margin-top: 50px;
margin-bottom: 20px;
font-size: 2.5em;
text-align: center;
font-family: 'jap2';
background: url('/assets/ligne.jpg') repeat-x bottom, url('/assets/ligne.jpg') repeat-x top;
}

section #soussection a
{
text-decoration: none;
color:rgba(128,0,0,0.9);
}

footer
{
height: 380px;
background-color: rgba(240,240,240,1);
padding-top: 30px;
padding-bottom: 50px;
margin-top: 0px;
}
footer #colonnes
{
width:900px;
margin: auto;
}
footer h1
{
font-family: 'jap2';
font-size: 2em;
}

footer h2
{
margin:0px;
font-size: 1.5em;
}

#posts, #contacts
{
display: inline-block;
vertical-align: top;
}

#posts
{
margin-left:75px;
width:40%;
}

#posts a
{
text-decoration: none;
color:rgba(0,0,0,0.5);
display:inline-block;
padding:5px;
margin-bottom:10px;
}

#posts a:hover
{
background-color: #9b0000;
color: white;
}

#contacts
{
position:relative;
width:40%;
margin-left:70px;
}

#section1b #envoyer
{
position:absolute;
left:20px;
bottom:0px;
}

#envoyer
{
text-transform: uppercase;
font-size:1em;
font-family: 'jap2';
margin-left:10px;

}
#envoyer:hover
{
background-color: #9b0000;
color: white;
border-radius: 2px;
text-transform: uppercase;
font-size:1em;
}

textarea
{
height:100px;
width:200px;
margin: 10px;
border: 0px;
}

form
{
top:-30px;
left: -5px;
position: relative;
font-family: 'jap2';
font-size: 1.3em;
}
form #nom
{
color: rgba(24,24,24,0.8);
border:0px;
margin:3px;

}
form #mail
{
color: rgba(24,24,24,0.8);
border:0px;
margin:3px;
}
form #txtnom, form #txtmail
{
margin-left: 20px;
}
#logo2
{
margin-left: 400px;
position:relative;
margin-top: 80px;
}

footer p
{
width:100%;
font-size: 0.8em;
color: rgba(24,24,24,0.8);
text-align: center;
bottom:0px;
}


@media all and (max-device-width: 480px)
{

#bandeau
{
display:block;
}
h1
{
color:red;
}

}



/*ARTICLES*/
#articles p
{
  margin-bottom: 50px;
}
#articles h1, #articles h2
{
font-family: 'jap2';
}

#articles
{
  top:50px;
  text-align: justify;
  width:80%;
  margin:auto;
}

#articles h1
{
background-color: rgba(200,125,0,0.6);
}























/*ASSOCIATION*/

#blocsa
{
display: inline-block;
position: relative;
left:175px;
margin-bottom:400px;
}
#blocsa h1
{
font-size: 2.5em;
font-family: 'jap2';
margin-left:30px;
margin-top: 23px;
}
#blocsa h2
{
font-size: 1.3em;
text-align:center;
padding-top:50px;
margin-left:10px;
}
#blocsa #img_bloc1,#blocsa #img_bloc2
{
position: absolute;
width:100%;
height:50%;
bottom:0px;
}

#bloc1a
{
background-color: #a6aaac;
position: absolute;
height: 400px;
width: 250px;
}

#bloc2a
{
background-color: #a6aaac;
position: absolute;
height: 400px;
width: 250px;
left: 300px;
}

#bloc1a a, #bloc2a a
{
  display: inline-block;
  position:absolute;
  right:0px;
  top: 20px;
  width: 29px;
  height: 35px;
  background: url('/assets/fleche_sprite2.png') 0px 0px no-repeat;
}

#bloc1a:hover, #bloc2a:hover
{
background-color: rgba(200,125,0,0.6);
-webkit-transition: background .2s;
transition: background .8s;
}

#bloc1a:hover a, #bloc2a:hover a
{
  background-position: 0px -35px;
}

#bloc1a a:hover, #bloc2a a:hover
{
background-position: 0px -35px;
}



/* ASSO: PRESENTATION */
#mainpresentation
{
  margin:auto;
  width: 800px;
 
  text-align : justify;
}

#mainpresentation h1
{
font-family:'jap2';

}

#asso1
{
position: relative;
width: 800px;
height: 400px;
margin: auto;
border: solid 2px ;
margin-bottom: 30px;
}

#asso1img
{
width: 800px;
height: 400px;

}

#mainpresentation #conseiladmin
{
  text-align: center;
}



/* ASSO: ACTIVITES*/
#mainactivites
{
  margin:auto;
  width: 800px;

  text-align : justify;
}

#mainactivites h1
{
font-family:'jap2';

}

#mainactivites h2
{
  margin-top:50px;
font-family:'jap2';

}








.galleria
{
margin-left:50px;
}






























/* ShorinjiKempo */

#blocs
{
display: inline-block;
position: relative;
left:25px;
margin-bottom:810px;
}
#maintechniques #blocs{
  margin-bottom:400px;
}
#blocs h1
{
font-size: 2.5em;
font-family: 'jap2';
margin-left:30px;
margin-top: 23px;
}

#blocs h2
{
font-size: 1.2em;
text-align:center;
padding-top:25px;
margin-left:10px;
}


#blocs #img_bloc1,#blocs #img_bloc2,#blocs #img_bloc3, #blocs #img_bloc4
{
position: absolute;
width:100%;
height:50%;
bottom:0px;
}


#bloc1
{
background-color: #a6aaac;
position: absolute;
height: 400px;
width: 250px;
}
#bloc2
{
background-color: #a6aaac;
position: absolute;
height: 400px;
width: 250px;
left: 300px;
}
#bloc3
{
background-color: #a6aaac;
position: absolute;
height: 400px;
width: 250px;
left:600px;
}
#bloc4
{
background-color: #a6aaac;
position: absolute;
height: 400px;
width: 250px;
left: 300px;
top:420px;
}
#bloc1 a, #bloc2 a, #bloc3 a, #bloc4 a
{
  display: inline-block;
  position:absolute;
  right:0px;
  top: 20px;
  width: 29px;
  height: 35px;
  background: url('/assets/fleche_sprite2.png') 0px 0px no-repeat;
}

#bloc1:hover ,#bloc2:hover ,#bloc3:hover, #bloc4:hover
{
background-color: rgba(200,125,0,0.6);
-webkit-transition: background .2s;
transition: background .8s;
}

#bloc1:hover a,#bloc2:hover a,#bloc3:hover a,#bloc4:hover a
{
  background-position: 0px -35px;
}



/* ShorinjiKempo SK1 : HISTORIQUE, CARACT et TECHNIQUES*/
#mainhistorique h1, #mainhistorique h2, #maincaracteristiques h1, #maintechniques h1, #maintechniques h2
{
  font-family: 'jap2';
}

#mainhistorique, #maincaracteristiques, #maintechniques
{
text-align:justify;
}

#sk1img1
{
float:right;
}

#sk1img2
{
  float:left;
  position:relative;
  padding-right: 20px;
  top:50px;
}
#maintechniques #blocs
{
padding-bottom:40px;
}
#maintechniques #blocs h1
{
text-align:center;
margin-left:0px;
}
#maintechniques #blocs h2
{
  padding-top:0px;
text-align:justify;
margin-right:10px;
font-family: 'arial';
}

#chinkon
{
  text-align: center;
}


/* PHILOSOPHIE */
#philo
{
    text-align: justify;
}



/* MEDIAS */
#medias p
{
font-size:1.5em;
text-align: center;
}
#medias a
{
  text-decoration: none;
  color:rgba(125,0,0,1);
}
















/* CONTACT  */
#section1
{
font-family:'jap2';
font-size:1.2em;
position: reative;
height:500px;
}

#section1a p
{
font-size: 1,6em;
font-family:verdana;
text-transform: none;
}

#section1 a
{
font-family:verdana;
}

#section1 #nom, #section1 #mail, #section1 #commentaire
{
border: solid 2px;
}

#section1 #commentaire
{
margin-top:80px;
margin-left:0px;
height:300px;
width:400px;
}

#section1a, #section1b
{
display: inline-block;
position: absolute;
}

#section1a
{
position:absolute;
top:440px;
}

#section1b
{
margin-left:450px;
margin-top:80px;
font-size:1.2em;
}

#section1b #txtnom
{
position:absolute;
left:100px;
top:-3px;
}

#section1b #nom
{
position:absolute;
border: none;
left:30px;
top:-3px;
}

#section1b #txtmail
{
position:absolute;
left:100px;
top:30px;
}

#section1b #mail
{
border: none;
position:absolute;
left:30px;
}

#section1b #votremessage
{
position:absolute;
top:73px;
left:33px;
}

#gline
{
position: absolute;
left:-30px;
bottom:320px;
}

#gline2
{
position: absolute;
left:-30px;
bottom:170px;
}

#logo_email
{
position:absolute;
left:-40px;
bottom:58px;
}

#logo_mobile
{
position:absolute;
left:-42px;
bottom:15px;
}



#section1b .fields, footer .fields
{
  border:none;
}













/* FOOTER PARTIE CONTACTS */

footer .fields
{
  display:inline-block;
}

footer #nom, footer #mail, footer #commentaire, footer #txtnom, footer #txtmail
{
border: none;
}


footer #txtnom
{
position:relative;
left:11px;
}
footer #txtmail
{
position:relative;
}
footer #commentaire
{
position:absolute;
height:150px;
width:180px;
top: 90px;
}


footer #nom
{
position:relative;
border: none;
}
footer#mail
{
border: none;
position:relative;
}
footer #votremessage
{
top: 5px;
left:3px;
position:relative;
vertical-align: top;
margin-right: 3px;
}

footer #envoyer
{
  position:absolute;
  left:20px;
  top:160px;
}




/* Bouton RETOUR */
#retour
{
  text-decoration: none;
display:inline-block;
margin-left:46%;
font-family:'jap2';
font-size: 1.4em;
padding:5px;
margin-top:15px;
border: solid 1px;
background-color:rgba(240,240,240,1);
border-radius:5px;
color:black;
box-shadow: 0px -6px 10px rgba(200,200,200,1) inset;
}
#retour:hover
{
font-family:'jap2';
font-size: 1.4em;
padding:5px;
border: solid 1px black;
background-color:#9b0000;
border-radius:5px;
color:white;
box-shadow: 0px -6px 10px #690000 inset;
}

