<footer>
<div id="colonnes">

		<div id="posts">
			<h1>Derniers posts</h1>
			<h2><%= link_to "Japan Expo 2014", articles_path %></h2>
			<h2><%= link_to "Stage national: Embukai", articles_path %></h2>
			<h2><%= link_to "Stage Chesnay", articles_path %></h2>
		</div>

		<%= image_tag("titreSK.jpg", :alt => "Manji du Shorinji Kempo", :id => "logo2") %>
		<p>© 2013 ShorinjiKempo-NeuillyClub.<br/>
		Le logo et le nom Shorinji Kempo sont la propriété de la World Shorinji Kempo Organisation</p>
	</div>
</footer>
